@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Light.ttf);
    font-weight: 300;
}

body {
    font-family: Roboto;
}

.bg {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-image: url(../img/bg-beach.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg__window {
    width: 1000px;
    height: 500px;
    margin-top: 50px;
}

.bodyPanel {
    display: flex;
}

.bodyPanel__leftSide {
    width: 30%;
    position: relative;
}

.bodyPanel__rightSide {
    width: 70%;
    position: relative;
}