@page "/"
@using waifu.redmoon.games.Pages.Game.Components
@inherits IndexLogic

<div class="bg">
    <div class="bg__window">

        @if (PlayerIsReady)
        {
            <GameWindow Player="Player"/>
        }
        else
        {
            <RegistrationWindow Player="Player"
                                ReloadParent="ReloadPage" />
        }
    </div>
</div>

<div style="border: 1px, solid, red; margin-top:25px;">
    <h3>Player Info:</h3>
    <p>Player Name : @Player.ProfileInfo.Name</p>
    <p>Player Name : @Player.Team.Name</p>

    <button @onclick="ResetLocalData">Reset user</button>

    <h3>Current Teams:</h3>
    @foreach (var tournamentTeam in Tournament.Teams)
    {
        <p>tournamentTeam: @tournamentTeam.Name</p>
    }
</div>