<div class="bodyPanel">
    <div class="bodyPanel__leftSide">

        <img src="img/asui-color-1.png" alt="Asui" />
    </div>
    <div class="bodyPanel__rightSide">
        <div class="account">
            <div class="account__profile">
                <img src="/img/bg-beach.png" alt="change username" />
                <div class="textHolder textHolder--medium">
                    <div class="textHolder__description">
                        Ваш логин
                    </div>
                    <div class="textHolder__content">
                        Dominator_666
                    </div>
                </div>
                <div class="textHolder textHolder--medium">
                    <div class="textHolder__description">
                        Страница в вк
                    </div>
                    <div class="textHolder__content">
                        al_at
                    </div>
                </div>
            </div>
            <div class="account__stats">
                <div class="textHolder textHolder--small">
                    <div class="textHolder__description">
                        Текущий ранг
                    </div>
                    <div class="textHolder__content">
                        Бесславный
                    </div>
                </div>
                <div class="textHolder textHolder--small">
                    <div class="textHolder__description">
                        Всего кликов
                    </div>
                    <div class="textHolder__content">
                        999,9М
                    </div>
                </div>
                <div class="textHolder textHolder--small">
                    <div class="textHolder__description">
                        Достижений
                    </div>
                    <div class="textHolder__content">
                        8 / 13
                    </div>
                </div>
            </div>
            <p>Достижения:</p>
            <div class="account__achievements">
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
                <div class="achievement">
                    <img src="/img/bg-beach.png" alt="Name Achievement" />
                    <p>Доминатор 666</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
