@page "/"
@using waifu.redmoon.games.Pages.Components
<div class="bg">
    <div class="bg__window">
        <div class="promo hide">
            <div class="promo__character">character</div>
            <div class="promo__info">
                <div class="info">
                    <div class="info__header">Пляжная битва</div>
                    <div class="info__text">Добро пожаловать на “Пляжную битву”. Мы занимаемся подсчётом рейтинга лучших девочек лета 2020. Присоединяйся и учатсвуй в голосовании!</div>
                    <button class="info__button--blue">Посмотреть рейтинг</button>
                    <button class="info__button--green">Начать сражение</button>
                </div>
            </div>
        </div>

        <div class="game">
            <div class="game__header">
                <div class="game__title">Пляжная битва 2020 от Redmoon Games</div>
                <div class="game__menu">
                    <button @onclick="() => option = OptionType.analytics">Исход сражения</button>
                    <button @onclick="() => option = OptionType.clicker">Соревнование</button>
                    <button @onclick="() => option = OptionType.account">Личный кабинет</button>
                </div>
            </div>
            <div class="game__body">
                @switch (option)
                {
                    case OptionType.analytics:
                        <AnalitycsComp></AnalitycsComp>
                        break;
                    case OptionType.clicker:
                        <ClickerComp></ClickerComp>
                        break;
                    case OptionType.account:
                        <AccountComp></AccountComp>
                        break;
                    case OptionType.none:
                        break;
                    default:
                        break;
                }
            </div>
        </div>
    </div>
</div>

@code {
    OptionType option = OptionType.clicker;
}
