<div class="analytics">
    <div class="analytics__background">
        <img src="img/asui-color-1.png" alt="Alternate Text" />
        <img src="img/asui-color-1.png" alt="Alternate Text" />
    </div>
    <div class="analytics__content">
        <div class="analytics__header">Побеждает Рем!</div>
        <div class="vsHolder">
            <div class="vsHolder__vsLeft"></div>
            <div class="vsHolder__vsRight"></div>
        </div>
        <div class="leaderBoard hide">
            <div class="leaderBoard__left">
                Команда Цуи
                1. Иван Пупкин
                2. Dominator222
                3. ZaBiVaKa
                4. Admin666
                5. Saha1506

            </div>
            <div class="leaderBoard__right">
                Команда Цуи
                1. Иван Пупкин
                2. Dominator222
                3. ZaBiVaKa
                4. Admin666
                5. Saha1506
            </div>
        </div>
    </div>
</div>

@code {

}
